<div ng-controller="CtrlGuardarPedido">
    <div id="contenedor">
        <div id="contenedorAdd">
            <div>
                <input ng-hide="true" type="text" ng-model="idPedido" value="{{pedido.idPedido}}" required/>
            </div>
            <div>
                <label>Dni de Creacion</label>
                <select ng-model="dniCreacionPedido" ng-disabled="tienedni" ng-options="empleado.dni for empleado in listaEmpleado track by empleado.dni"></select>
            </div>
            <div>
                <label>Cif de Cliente</label>
                <select ng-model="cifClientePedido" ng-options="cliente.cif for cliente in listaClientes track by cliente.cif"></select>
            </div>
            <div>
                <label>Estado del pedido</label>
                <select ng-model="estadoPedido">
                    <option ng-repeat="estado in estados" ng-selected="{{estado == estadoPedido}}">{{estado}}</option>
                </select>
            </div>
            <div>
                <label>Destinatario</label>
                <input type="text" ng-model="destinatarioPedido" placeholder="Destinatario" value="{{pedido.destinatario}}" required/>
            </div>
            <div>
                <label>Direccion de entrega</label>
                <input type="text" ng-model="direccionEntregaPedido" placeholder="Direccion de entrega" value="{{pedido.direccionEntrega}}"
                    required/>
            </div>
            <div>
                <label>Codigo Postal</label>
                <input type="text" ng-model="codigoPostalPedido" placeholder="Codigo postal" value="{{pedido.codigoPostal}}" required/>
            </div>
            <div>
                <label>Pais</label>
                <input type="text" ng-model="paisPedido" placeholder="Pais" value="{{pedido.pais}}" required/>
            </div>
        </div>
        <div id="addProducto">
            <input ng-hide="true" type="text" id="idProducto" ng-model="idProducto" />
            <input ng-hide="true" type="text" id="idCategoria" ng-model="idCategoria" />
            <input ng-hide="true" type="text" id="idProveedor" ng-model="idProveedor" />
            <div>
                <label>Producto</label>
                <input type="text" id="nombreProducto" ng-model="nombreProducto" />
            </div>
            <div>
                <label>Precio</label>
                <input type="text" id="precioVenta" ng-model="precioVenta" />
            </div>
            <div>
                <label>Cantidad</label>
                <input type="text" id="cantidad" ng-model="cantidad" />
            </div>
            <div>
                <label>Descuento</label>
                <input type="text" id="descuento" ng-model="descuento" />
            </div>

            <div>
                <button id="anadirProducto" ng-click="Add()">Añadir al pedido</button>
            </div>

            <div>
                <table id="tablita">
                    <tr>
                        <th>idProducto</th>
                        <th>Nombre</th>
                        <th>Cantidad</th>
                        <th>Descuento</th>
                        <th>Precio</th>
                    </tr>
                    <tr ng-repeat="carrito in listado">
                        <td>{{carrito.idProducto}}</td>
                        <td>{{carrito.nombreProducto}}</td>
                        <td>{{carrito.cantidad}}</td>
                        <td>{{carrito.descuento}}%</td>
                        <td>{{carrito.precioVenta}}€</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>Precio Total</td>
                        <td>{{precioFinal}} €</td>
                    </tr>
                </table>
            </div>
            <div>
                <input id="guardarPedido" ng-click="guardarPedido()" type="button" value="Guardar Pedido">
            </div>
        </div>
    </div>

    <div ng-show="loading">
        <img id="loadingWheel" src="app/components/pedido/image/Loading_icon.gif" />
    </div>
    <div>
        <div>
            <input id="buscarPedido" type="text" placeholder="Producto a buscar" ng-model="buscar" />
        </div>
        <div>
            <table id="myTable" ng-show="tabla">
                <thead>
                    <tr>
                        <th>idProducto</th>
                        <th>nombreProducto</th>
                        <th>precioVenta</th>
                        <th>idCategoria</th>
                        <th>idProveedor</th>
                        <th>existencias</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="producto in lista | filter:{nombreProducto:buscar}">
                        <td>{{producto.idProducto}}</td>
                        <td>{{producto.nombreProducto}}</td>
                        <td>{{producto.precioVenta}}</td>
                        <td>{{producto.categoria.idCategoria}}</td>
                        <td>{{producto.proveedor.idProveedor}}</td>
                        <td>{{producto.existencias}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>