
<div ng-controller="CtrlGuardarPedido">
    <div>
        <form>
            <div>
                <input type="hidden" ng-model="idPedido" value="{{pedido.idPedido}}" required/>
            </div>
            <div>
                <input type="text" ng-model="dniModificacionPedido" value="{{pedido.idModificaion}}" readonly required/>
            </div>
            <div>
                <input type="text" ng-model="dniCreacionPedido" value="{{pedido.dniCreacion}}" readonly required/>
            </div>
            <div>
                <input type="text" ng-model="cifClientePedido" value="{{pedido.cifCliente}}" readonly required/>
            </div>
            <div>
                <input type="text" ng-model="fechaCreacionPedido" value="{{pedido.fechaCreacion}}" readonly required/>
            </div>
            <div>
                <input type="text" ng-model="importeTotalPedido" value="{{pedido.importeTotal}}" readonly required/>
            </div>
            <div>
                <input type="text" ng-model="estadoPedidoPedido" value="{{pedido.estadoPedido}}" readonly required/>
                <button ng-click="cambiarEstado()">cambiar a {{mensaje}}</button>
            </div>
            <div>
                <input type="text" ng-model="destinatarioPedido" value="{{pedido.destinatario}}" required/>
            </div>
            <div>
                <input type="text" ng-model="direccionEntregaPedido" value="{{pedido.direccionEntrega}}" required/>
            </div>
            <div>
                <input type="text" ng-model="codigoPostalPedido" value="{{pedido.codigoPostal}}" required/>
            </div>
            <div>
                <input type="text" ng-model="pais" value="{{pedido.pais}}" required/>
            </div>
            <div>
                <input type="text" ng-model="fechaModificacion" value="{{pedido.fechaModificacion}}" readonly required/>
            </div>
           <!-- <script type="text/javascript" src="js/app.js"></script>
            <script type="text/javascript" src="app/components/pedido/funcion.js"></script>-->

                <input type="text" ng-model="buscar" />
                <div ng-show="loading">
                    <img src="app/components/pedido/image/Loading_icon.gif" />
                </div>
                <table id="myTable" ng-show="tabla">
                    <thead>
                        <tr>
                            <th>idProducto</th>
                            <th>nombreProducto</th>
                            <th>precioVenta</th>
                            <th>existencias</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="producto in lista | filter:{nombreProducto:buscar}">
                            <td>{{producto.idProducto}}</td>
                            <td>{{producto.nombreProducto}}</td>
                            <td>{{producto.precioVenta}}</td>
                            <td>{{producto.existencias}}</td>
                        </tr>
                    </tbody>
                </table>
                <div>
                    <input ng-hide="true" type="text" id="idProducto" ng-model="idProducto" />
                    <br>nombreProducto:
                    <input type="text" id="nombreProducto" ng-model="nombreProducto"/>
                    <br>Precio:
                    <input type="text" id="precioVenta" ng-model="precioVenta" />
                    <br>cantidad:
                    <input type="text" id="cantidad" ng-model="cantidad" />
                    <br>descuento:
                    <input type="text" id="descuento" ng-model="descuento" />

                    <button ng-click="Add()">añadir</button>

                    <div style="margin-left:500px">
                        <table>
                            <tr>
                                <th>idProducto</th>
                                <th>Nombre</th>
                                <th>Cantidad</th>
                                <th>Descuento</th>
                                <th>Precio</th>
                            </tr>
                            <tr ng-repeat="carrito in listado">
                                <td>{{carrito.idProducto}}</td>
                                <td>{{carrito.nombreProducto}}</td>
                                <td>{{carrito.cantidad}}</td>
                                <td>{{carrito.descuento}}%</td>
                                <td>{{carrito.precioVenta}}€</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>Precio Total</td>
                                <td>{{precioFinal}} €</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div>
                    <input ng-click="guardarPedido()" type="button" value="Guardar Pedido">
                </div>
        </form>
    </div>
</div>