<div ng-controller="CtrlListaPedido">
    <input type="text" class="buscador" placeholder="Pedido a buscar" ng-model="filtro">
    <form action="#!/añadirPedido">
        <input class="addButton" type="submit" value="Añadir Nuevo" />
    </form>
    <table>
        <tr>
            <th>Id pedido</th>
            <th>DNI creación</th>
            <th>Cif cliente</th>
            <th>Fecha creación</th>
            <th>Importe total</th>
            <th>Estado pedido</th>
            <th>Destinatario</th>
            <th>Dirección entrega</th>
            <th>Código postal</th>
            <th>País</th>
            <!--<th>linea pedido</th>-->
            <th>Fecha modificación</th>
            <th>Editar</th>
        </tr>
        <tr ng-repeat="pedido in listaPedidos|filter:{idPedido:filtro}">
            <td>{{pedido.idPedido}}</td>
            <td>{{pedido.empleado.dni}}</td>
            <td>{{pedido.cliente.cif}}</td>
            <td>{{pedido.fechaCreacion}}</td>
            <td>{{pedido.importeTotal}}</td>
            <td>{{pedido.estadoPedido}}</td>
            <td>{{pedido.destinatario}}</td>
            <td>{{pedido.direccionEntrega}}</td>
            <td>{{pedido.codigoPostal}}</td>
            <td>{{pedido.pais}}</td>
            <td>{{pedido.fechaModificacion}}</td>
            <td>
                <a ng-href="#!/modificarPedido/{{pedido.idPedido}}">Editar</a>
            </td>
        </tr>
    </table>

</div>