<div ng-controller="CtrlGuardarCategoria">
    <form>
    	<div>
    		<input type="text" ng-model="nombreCategoria" value="{{categoria.nombreCategoria}}" required/>
    	</div>
    	<div>
    		<input type="text" ng-model="descripcionCategoria" value="{{categoria.descripcion}}" required/>
    	</div>
            <input type="hidden" ng-model="idCategoria" required/>
        </div>
    	<div>
            <input onclick="guardarCategoria()" type="button" value="Guardar Categoría">
    	</div>
    </form>
</div>
<script src="guardarCategoria.js" />
