/*Login*/
#mainLogin{
    margin: 0px auto;
    text-align: center;
    width:30%;
}

#loginForm{
    padding-top: 17px;
}


/*MENU*/
nav{

    width: 100%;
    /*margin-left: 10%;*/

}
nav ul {
    background: linear-gradient(top, rgb(207, 234, 250) 0%, rgb(126, 157, 177)   80%);
    background: -moz-linear-gradient(top, rgb(207, 234, 250) 0%,rgb(126, 157, 177)   80%);
    background: -webkit-linear-gradient(top, rgb(207, 234, 250) 0%,rgb(126, 157, 177)   80%);
    text-align: center;
    list-style-position: outside;
    font-family: Arial;
	list-style: none;
	position: relative;
	display: inline-table;
    width: 100%;
   	/*margin-left:-3.7%;*/

   }

    nav ul li {
    	text-align: center;
        width: 16.1%;
        float: left;
        padding: 1.1%;
        font-size:15px;
        text-decoration: none;
        color: black;
    }

	nav ul li:hover {
        background: linear-gradient(top, #1C1C1C 0%, #6E6E6E  80%);
        background: -moz-linear-gradient(top, #1C1C1C 0%,#6E6E6E 80%);
        background: -webkit-linear-gradient(top, #1C1C1C 0%,#6E6E6E 80%);
	/*	background: #2E2E2E;*/
        color:white;
        display: block;
	    color: #fff;
        font-size:15px;
	}

/*TABLAS*/
table{
    width:90%;
    margin-left: 5%;
    border-radius: 4px;
}
table th {
    background-color: #097BBC;
    color:white;
    font-weight: bold;
}
table tr {
    background-color: #eee;
}
table tr:nth-child(2) {
    background-color: #eee;
}
table tr:nth-child(even) {
    background-color: #eee;
}

table tr:nth-child(odd) {
    background-color: #DAE5F4;
}
#buscador_proveedor{
    margin-left: 40%;
    width: 20%;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Formularios guardar*/

.buscador{
    float:left;
    border:1px solid whitesmoke;
    border-radius: 4px;
    margin-left:50px;
    margin-bottom: 15px;
    height: 40px;
}

.addButton{
    float: right;
    font-family: Verdana;
    font-weight: bold;
    border:none;
    height:40px;
    border-radius: 4px;
    background-color: #097BBC;
    color:whitesmoke;
    margin-right: 50px;
    margin-bottom: 15px;
}

label{
    margin-bottom: 1.2em;
    width: 13em;
}

select{
    margin-bottom: 1.2em;
}

#addProducto{
    float: right;
    width:45%;
}

#contenedorAdd{
    float:left;
    width: 45%;
}