<div ng-controller="CtrlListaProveedor">
    <input type="text" ng-model="filtro" placeholder="Proveedor a buscar">    
        <table>
            <tr>
                <th>Id Proveedor</th>
                <th>Nombre Proveedor</th>
                <th>Ciudad</th>
                <th>Codigo Postal</th>
                <th>Pais</th>
                <th colspan="2">Telefono</th>
            </tr>
            <tr ng-repeat="proveedor in listaProveedor|filter:{nombreProveedor:filtro}">
                <td>proveedor.idProveedor</td>
                <td>proveedor.nombreProveedor</td>
                <td>proveedor.ciudad</td>
                <td>proveedor.codigoPostal</td>
                <td>proveedor.pais</td>
                <td>proveedor.telefono</td>
                <td><a ng-href="/modificarProveedor/{{proveedor.idProveedor}}">Editar</a></td>
            </tr>
        </table>
        <form action="/añadirProveedor">
            <input type="submit" value="Añadir Nuevo" />
        </form>
    </div>
<script src="proveedor.js" />