<div ng-controller="CtrlGuardarCliente">
    <form>
    	<div>
    		<input type="text" placeholder="Nombre" ng-model="nombrePersonaCliente" value="{{cliente.nombrePersona}}" required/>
    	</div>
        <div>
    		<input type="text" placeholder="Empresa" ng-model="nombreEmpresaCliente" value="{{cliente.nombreEmpresa}}" required/>
    	</div>
    	<div>
    		<input type="text" placeholder="Dirección" ng-model="direccionCliente" value="{{cliente.direccion}}" required/>
    	</div>
        <div>
            <input type="text" placeholder="Código postal" ng-model="codigoPostalCliente" value="{{cliente.codigoPostal}}" required/>
        </div>
        <div>
            <input type="text" placeholder="País" ng-model="paisCliente" value="{{cliente.pais}}" required/>
        </div>
        <div>
            <input type="text" placeholder="Teléfono" ng-model="telefonoCliente" value="{{cliente.telefono}}" required/>
        </div>
        <div>
            <input type="hidden" ng-model="cifCliente" required/>
        </div>
    	<div>
            <input ng-click="guardarCliente()" type="button" value="Guardar Cliente">
    	</div>
    </form>
</div>
