<div ng-controller="CtrlGuardarEmpleado">
    <form>
    	<div>
    		Nombre: <input type="text" ng-model="nombreEmpleado" value="{{empleado.nombreEmpleado}}" required></input>
    	</div>
        <div>
    		Apellidos: <input type="text" ng-model="apellidosEmpleado" value="{{empleado.apellidos}}" required></input>
    	</div>
    	<div>
    		Cargo: <input type="text" ng-model="cargoEmpleado" value="{{empleado.cargo}}" required></input>
    	</div>
        <div>
            Dirección: <input type="text" ng-model="direccionEmpleado" value="{{empleado.direccion}}" required></input>
        </div>
        <div>
            Ciudad: <input type="text" ng-model="ciudadEmpleado" value="{{empleado.ciudad}}" required></input>
        </div>
        <div>
            Código Postal: <input type="text" ng-model="codigoPostalEmpleado" value="{{empleado.codigoPostal}}" required></input>
        </div>
        <div>
            País: <input type="text" ng-model="paisEmpleado" value="{{empleado.pais}}" required></input>
        </div>
        <div>
            Teléfono: <input type="text" ng-model="telefonoEmpleado" value="{{empleado.telefono}}" required></input>
        </div>
        <div>
            <input type="hidden" ng-model="dniEmpleado" required></input>
        </div>
    	<div>
            <input ng-click="guardarEmpleado()" type="button" value="Guardar Empleado"></input>
    	</div>
    </form>
</div>
