<div ng-controller="CtrlGuardarEmpleado">
    <form>
    	<div>
    		<label>Nombre:</label> <input type="text" ng-model="nombreEmpleado" value="{{empleado.nombreEmpleado}}" required></input>
    	</div>
        <div>
    		<label>Apellidos:</label> <input type="text" ng-model="apellidosEmpleado" value="{{empleado.apellidos}}" required></input>
    	</div>
    	<div>
    		<label>Cargo:</label> <input type="text" ng-model="cargoEmpleado" value="{{empleado.cargo}}" required></input>
    	</div>
        <div>
            <label>Dirección:</label> <input type="text" ng-model="direccionEmpleado" value="{{empleado.direccion}}" required></input>
        </div>
        <div>
            <label>Ciudad:</label> <input type="text" ng-model="ciudadEmpleado" value="{{empleado.ciudad}}" required></input>
        </div>
        <div>
            <label>Código Postal:</label> <input type="text" ng-model="codigoPostalEmpleado" value="{{empleado.codigoPostal}}" required></input>
        </div>
        <div>
            <label>País:</label> <input type="text" ng-model="paisEmpleado" value="{{empleado.pais}}" required></input>
        </div>
        <div>
           <label>Teléfono:</label> <input type="text" ng-model="telefonoEmpleado" value="{{empleado.telefono}}" required></input>
        </div>
        <div>
            <label>DNI:</label> <input type="text" ng-disabled="tienedni" ng-model="dniEmpleado" value="{{empleado.dni}}" required></input>
        </div>
    	<div>
            <input ng-click="guardarEmpleado()" type="button" value="Guardar Empleado"></input>
    	</div>
    </form>
</div>
