<div ng-controller="CtrlGuardarProducto">
    <form>
    	<div>
    		Nombre: <input type="text" ng-model="nombreProducto" value="{{producto.nombreProducto}}" required></input>
    	</div>
    	<div>
    		Descripción: <input type="text" ng-model="descripcionProducto" value="{{producto.descripcion}}" required></input>
    	</div>
        <div>
            Precio de Venta: <input type="text" ng-model="precioVentaProducto" value="{{producto.precioVentaProducto}}" required></input>
        </div>
        <div>
            Precio de Compra: <input type="text" ng-model="precioCompraProducto" value="{{producto.precioCompraProducto}}" required></input>
        </div>
        <div>
            Existencias: <input type="text" ng-model="existenciasProducto" value="{{producto.existencias}}" required></input>
        </div>
        <div>
            Categoría: <select ng-model="categoria" ng-options="categoria.nombreCategoria for categoria in categorias track by categoria.nombreCategoria" ></select>
                <!--<option ng-repeat="categoria in categorias" value="{{categoria}}">{{categoria.nombreCategoria}}</option>
              </select>-->
        </div>
        <div>
            Proveedor: <select ng-model="proveedor" ng-options="proveedor.nombreProveedor for proveedor in proveedores track by proveedor.nombreProveedor"></select>
                <!--<option ng-repeat="categoria in categorias" value="{{categoria}}">{{categoria.nombreCategoria}}</option>
              </select>-->
        </div>
        <div>
            <input type="hidden" ng-model="idProducto" required></input>
        </div>
    	<div>

            <input ng-click="guardarProducto()" type="button" value="Guardar Producto"></input>
    	</div>

    </form>
</div>
