<div ng-controller="CtrlGuardarProducto">
    <form>
    	<div>
    		Nombre: <input type="text" ng-model="nombreProducto" value="{{producto.nombreProducto}}" required/>
    	</div>
    	<div>
    		Descripción: <input type="text" ng-model="descripcionProducto" value="{{producto.descripcion}}" required/>
    	</div>
        <div>
            Precio de Venta: <input type="text" ng-model="precioVentaProducto" value="{{producto.precioVentaProducto}}" required/>
        </div>
        <div>
            Precio de Compra: <input type="text" ng-model="precioCompraProducto" value="{{producto.precioCompraProducto}}" required/>
        </div>
        <div>
            Existencias: <input type="text" ng-model="existenciasProducto" value="{{producto.existencias}}" required/>
        </div>

        <div>
            <input type="hidden" ng-model="idProducto" required/>
        </div>
    	<div>
            <input ng-click="guardarProducto()" type="button" value="Guardar Producto">
        </div>
        <div>
        Categoría: <select ng-model="idCategoria">
                <option ng-repeat="categoria in categorias" value="{{categoria.idCategoria}}">{{categoria.nombreCategoria}}</option>
              </select>
        </div>
    </form>
</div>
<script src="producto.js" />
