<div ng-controller="CtrlGuardarProducto">
    <form>
    	<div>
    		Nombre: <input type="text" ng-model="nombreProducto" value="{{producto.nombreProducto}}" required/>
    	</div>
    	<div>
    		Descripción: <input type="text" ng-model="descripcionProducto" value="{{producto.descripcion}}" required/>
    	</div>
        <div>
            Precio de Venta: <input type="text" ng-model="precioVentaProducto" value="{{producto.precioVenta}}" required/>
        </div>
        <div>
            Precio de Compra: <input type="text" ng-model="precioCompraProducto" value="{{producto.precioCompra}}" required/>
        </div>
        <div>
            Existencias: <input type="text" ng-model="exintenciasProducto" value="{{producto.existencias}}" required/>
        </div>
        <div>
            <input type="hidden" ng-model="idProducto" required/>
        </div>
    	<div>
            <input ng-click="guardarProducto()" type="button" value="Guardar Producto">
    	</div>
    </form>
</div>
<script src="producto.js" />
