<div ng-controller="CtrlListaProducto">
    <input type="text" placeholder="Producto a buscar" ng-model="filtro">
    <table>
        <tr>
            <th>Id producto</th>
            <th>Id Proveedor</th>
            <th>Categoria</th>
            <th>Nombre Producto</th>
            <th>Descripcion</th>
            <th>Precio de venta</th>
            <th>Precio de compra</th>
            <th colspan="2">Existencias</th>
        </tr>
        <tr ng-repeat="producto in listaProducto|filter:{nombreProducto:filtro}">
            <td>{{producto.idProducto}}</td>
            <td>{{producto.proveedor.idProveedor}}</td>
            <td>{{producto.categoria.nombreCategoria}}</td>
            <td>{{producto.nombreProducto}}</td>
            <td>{{producto.descripcion}}</td>
            <td>{{producto.precioVenta}}</td>
            <td>{{producto.precioCompra}}</td>
            <td>{{producto.existencias}}</td>
            <td><a ng-href="#!/modificarProducto/{{producto.idProducto}}">Editar</a></td>
        </tr>
    </table>
    <form action="#!/añadirProducto">
        <input type="submit" value="Añadir Nuevo" />
    </form>
</div>
