<div ng-controller="CtrlListaProducto">
    <table>
        <tr>
            <th>Id producto</th>
            <th>Id Proovedor</th>
            <th>Id Categoria</th>
            <th>Nombre Producto</th>
            <th>Descripcion</th>
            <th>Precio de venta</th>
            <th>Precio de compra</th>
            <th colspan="2">Existencias</th>
        </tr>
        <tr ng-repeat="producto in listaProducto">
            <td>producto.idProducto</td>
            <td>producto.idProovedor</td>
            <td>producto.idCategoria</td>
            <td>producto.nombreProducto</td>
            <td>producto.descripcion</td>
            <td>producto.precioVenta</td>
            <td>producto.precioCompra</td>
            <td>producto.existencias</td>
            <td><a href="/modificarProducto">Editar</a></td>
        </tr>
    </table>
    <form action="/añadirProducto">
        <input type="submit" value="Añadir Nuevo" />
    </form>
</div>